<div id="vMission"
     data-role="view"
     data-title="Mission"
     data-show="app.appInit.missionViewModelShow"
     data-hide="app.appInit.missionViewModelHide"
     data-layout="mission-layout"
     class="verticalViewGradient">


    <header class="headCommon missionHeader">
        <div>
            <a class="mediumIcon backIcon" data-bind="click: navigateToMissionChain"></a>
        </div>
        <div class="missionImageContainer">
            <div class="missionImage imageCover" data-bind="style: { backgroundImage: missionImagePath }"></div>
            <div class="missionImage imageBorder"></div>
        </div>
        <div></div>
    </header>
    <div id="missionBody">
        <div class="missionHead">
            <h3 data-bind="text: missionName"></h3>
            <div class="missionDifficulty" data-bind="attr: { data-difficulty: missionDifficulty }">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
            </div>
        </div>
        <p id="missionDetails" data-bind="html: missionDetails"></p>
    </div>

</div>