.questionHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  flex-align: center;
}
.questionHeader > div {
  width: 25%;
}
.questionHeader .questionNumber {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  vertical-align: middle;
  width: 50%;
}
#divQuestonAnswers {
  margin-top: 10%;
}
#divQuestionBody {
  margin-top: 1.5rem;
  text-align: center;
}
#divQuestionBody .orangeButton {
  display: block;
  margin-top: 10%;
}
