#kindActionListHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  flex-align: center;
}
#kindActionListHeader > div {
  width: 25%;
}
#kindActionListHeader .divHistoryNavigation {
  width: 50%;
  text-align: center;
}
#kindActionListHeader .historyBack,
#kindActionListHeader .historyForward {
  padding-top: 20%;
  width: 20%;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}
#kindActionListHeader .historyBack {
  background-image: url(../../../styles/svg/caret-left.svg);
}
#kindActionListHeader .historyForward {
  background-image: url(../../../styles/svg/caret-right.svg);
}
#kindActionListHeader .historyLabel {
  color: white;
  display: inline-block;
  vertical-align: top;
  margin-top: 7%;
}
#divKindActionListBody {
  width: 90%;
  margin: 0 auto;
  padding-left: 4.2%;
  position: relative;
}
#divKindActionListBody .kindActionListItem {
  position: relative;
  margin-top: 1rem;
}
#divKindActionListBody .kindActionListItemImage {
  width: 25%;
  padding-top: 25%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 0.3rem;
}
#divKindActionListBody .kindActionListItemDescription {
  top: 25%;
  left: 35%;
  position: absolute;
  line-height: 1.2rem;
  height: 3.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#divKindActionListBody .kindActionListItemDate {
  float: right;
}
#divKindActionListBody .divHeightCarrier {
  padding-top: 25%;
}
#divKindActionListBody .thumbsUpImage {
  background-image: url(../../../styles/svg/thumbs-up3.svg);
}
#divKindActionListBody .thumbsDownImage {
  background-image: url(../../../styles/svg/thumbs-down.svg);
}
#divKindActionListBody .viewImage {
  background-image: url(../../../styles/svg/eye-outline.svg);
}
#divKindActionListBody .thumbsUpImage,
#divKindActionListBody .thumbsDownImage,
#divKindActionListBody .viewImage {
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  width: 2rem;
  margin-top: -0.5rem;
  padding-top: 2rem;
}
#divKindActionListBody .likesInfo {
  display: inline-block;
  margin-left: 35%;
}
#divKindActionListBody .likesInfo + .likesInfo {
  margin-left: 0;
}
