ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=tel],
input[type=url] {
  border-radius: 0.3rem;
  background-color: #f7e2cf;
  border-style: none;
  box-shadow: 0 .1rem #fff , 0 -.1rem #ddcab9;
  color: #8e919d;
  padding-left: 2rem;
  height: 3.2rem;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2rem;
}
textarea {
  border-radius: 0.3rem;
  background-color: #f7e2cf;
  border-style: none;
  box-shadow: 0 .1rem #fff , 0 -.1rem #ddcab9;
  color: #8e919d;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2rem;
  padding: .5rem 1rem 0;
  height: auto;
  resize: none;
  overflow: auto;
}
progress {
  width: 100%;
  border: 0;
  border-radius: 0.3rem;
  height: .9rem;
}
progress::-webkit-progress-bar {
  border-radius: 0.3rem;
}
progress::-webkit-progress-value {
  border-radius: 0.3rem;
}
progress::-moz-progress-bar {
  border-radius: 0.3rem;
}
.formContent {
  width: 81%;
  margin: 0 auto;
  font-size: 1.1rem;
}
.mediumIcon {
  height: 2.2rem;
  width: 2.2rem;
  background-repeat: no-repeat;
  display: inline-block;
}
.bigIcon {
  height: 4.2rem;
  width: 4.2rem;
  background-repeat: no-repeat;
  display: inline-block;
}
.smallIcon {
  height: 1.5rem;
  width: 1.5rem;
  background-repeat: no-repeat;
}
.horizontalLine {
  border-top: 2px solid #f5e1cd;
  border-bottom: 1px solid white;
}
.verticalLine {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: .15em;
  background-color: #f5e1cd;
  margin-left: 18.3%;
}
.headCommon {
  overflow: auto;
  background-color: #30323a;
}
.missionHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.missionHeader > div {
  width: 30%;
}
.missionHeader .missionImageContainer {
  margin: 1rem 0 .5rem 0;
  width: 40%;
  position: relative;
}
.missionHeader .imageCover {
  padding-top: 99%;
  width: 89%;
  margin-left: 6%;
}
.missionHeader .imageBorder {
  background-image: url(svg/missionImageFrame.svg);
  padding-top: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.missionHeader .missionImage {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.coinsCountWrapper {
  position: relative;
  text-align: center;
}
.coinsLogo {
  display: block;
  background-image: url(../styles/svg/bag.svg);
  background-repeat: no-repeat;
  margin: auto;
}
.coinsCount {
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  top: 50%;
}
.closeIcon {
  background-image: url(svg/close.svg);
  float: right;
  margin: 1rem;
}
.photoIcon {
  background-image: url(svg/photo.svg);
}
.removePhotoIcon {
  position: absolute;
  top: -0.45rem;
  right: -0.45rem;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url(svg/removePhoto.svg);
}
.backIcon {
  background-image: url(svg/backArrow.svg);
  float: left;
  margin: 1rem;
}
.hintIcon {
  background-image: url(svg/key4.svg);
  float: right;
  margin: 1rem;
}
.hintIcon > a {
  display: block;
  height: 100%;
}
a.link {
  color: #479bb3;
}
.star {
  display: inline-block;
  background-repeat: no-repeat;
}
.starFull {
  background-image: url(svg/starFull.svg);
}
.starHalf {
  background-image: url(svg/starHalf.svg);
}
.starEmpty {
  background-image: url(svg/starEmpty.svg);
}
.km-view.verticalViewGradient {
  background: -webkit-linear-gradient(#ffffff, #fff3e0);
  background: linear-gradient(#ffffff, #fff3e0);
}
.km-view.horizontalViewGradient {
  background: -webkit-linear-gradient(right, #ffffff, #fff3e0);
  background: linear-gradient(to left, #ffffff, #fff3e0);
}
.km-button {
  border-radius: 0.3rem;
  padding: .8em;
}
.km-button.blueButton {
  background-color: #5cc6e4;
  color: white;
  box-shadow: 0 .1rem #499eb6 , 0 -.1rem #ceeef6;
}
.km-button.orangeButton {
  background-color: #ffc175;
  color: white;
  box-shadow: 0 .1rem #cc9a5d , 0 -.1rem #ffecd5;
}
.km-button.greenButton {
  background-color: #4cd398;
  color: white;
  box-shadow: 0 .1rem #3ca879 , 0 -.1rem #c9f1e0;
}
.km-button.redButton {
  background-color: #ff9782;
  color: white;
  box-shadow: 0 .1rem #cc7868 , 0 -.1rem #ffe0d9;
}
.km-list > li {
  padding: 0;
}
.startHeaderImageOuter {
  background-color: #30323a;
  overflow: hidden;
  padding-top: 50%;
}
.startHeaderImage {
  margin: -50% auto 0;
  width: 60%;
  padding-top: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(svg/logo.svg);
}
.startHeaderImageBottom {
  background-image: url(svg/logoBottom.svg);
  padding-top: 10px;
}
#vLoading {
  background-color: #30323a;
  text-align: center;
}
#vLoading .km-content {
  position: absolute;
  color: white;
  top: 45%;
  font-size: 1.2rem;
}
#vmHints {
  background-color: white;
}
#vmHints .modalHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: #30323a;
}
#vmHints .modalHeader > div {
  width: 30%;
}
#vmHints .modalHeader .modalTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 40%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
#vmHints .km-content {
  text-align: center;
}
#vmHints .hintsList li {
  width: 42%;
  display: inline-block;
  overflow: visible;
}
#vmHints .hintsList .coinsCountWrapper {
  margin: 1rem;
  display: block;
}
#vmHints .hintsList .coinsLogo {
  width: 100%;
  padding-top: 100%;
}
#vmHints .hintsList .coinsCount {
  font-size: 1.2rem;
}
#vmHints .hintsList .coinsText {
  position: absolute;
  left: 0;
  right: 0;
}
#vmHints .hintText {
  margin: 2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
#missionFooter {
  background: #ffeacf;
}
/* -----------------------------------------------------------------------------
  HAMBURGER ICONS COMPONENT
  https://github.com/callmenick/Animating-Hamburger-Icons/blob/master/sass/_components.hamburger.scss
----------------------------------------------------------------------------- */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  width: 52px;
  height: 52px;
  z-index: 4;
}
@media all and (min-width: 768px) {
  .c-hamburger {
    width: 83px;
    height: 83px;
  }
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger .toggle2 {
  display: block;
  position: absolute;
  background: #ffffff;
  top: 24px;
  left: 12px;
  right: 12px;
  height: 4px;
}
@media all and (min-width: 768px) {
  .c-hamburger .toggle2 {
    top: 38.5px;
    left: 19px;
    right: 19px;
    height: 6px;
  }
}
.c-hamburger .toggle1,
.c-hamburger .toggle3 {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  background-color: #fff;
  content: "";
  height: 4px;
}
@media all and (min-width: 768px) {
  .c-hamburger .toggle1,
  .c-hamburger .toggle3 {
    height: 6px;
  }
}
.c-hamburger .toggle1 {
  top: -10px;
}
@media all and (min-width: 768px) {
  .c-hamburger .toggle1 {
    top: -15px;
  }
}
.c-hamburger .toggle3 {
  bottom: -10px;
}
@media all and (min-width: 768px) {
  .c-hamburger .toggle3 {
    bottom: -15px;
  }
}
/**
 * Style 1
 *
 * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
 * Nothing too fancy, simple transition.
 */
.c-hamburger--rot .toggle2 {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
/* active state, i.e. menu open */
.c-hamburger--rot.is-active .toggle2 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
/**
 * Menu overview.
 */
.c-menu {
  position: absolute;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
/**
 * Top and bottom menus
 *
 * Slide and push menus coming in from the top and bottom inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
/**
 * Common modifiers for top/bottom menus
 */
.c-menu--slide-top {
  vertical-align: middle;
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
/**
 * Slide/Push Menu Top.
 */
.c-menu--slide-top {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.c-menu--slide-top.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}
/* -----------------------------------------------------------------------------
  MASK COMPONENT
  
----------------------------------------------------------------------------- */
.c-mask {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
