#headRating .divCounters,
#headRating .divTabs {
  overflow: hidden;
  display: inline-block;
}
#headRating .divCounters {
  text-align: center;
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.6);
}
#headRating .divRatingInfoContainer {
  display: inline-block;
  margin: .5rem;
}
#headRating .ratingInfo {
  font-size: 1.3rem;
  line-height: .7rem;
}
#headRating .ratingInfoRes {
  font-size: .8rem;
}
#headRating .km-button {
  margin: .1rem;
  padding: 0;
}
#headRating .ratingTab {
  padding: .2rem .5rem;
  margin: 0;
  color: white;
}
#divRatingBody {
  width: 90%;
  margin: 1rem auto 0;
}
#divRatingBody .km-list > li {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: .5rem 0;
}
#divRatingBody .horizontalLine {
  margin: 1rem -5%;
}
#divRatingBody .playerRatingItem {
  display: table-row;
}
#divRatingBody .playerPlace {
  vertical-align: middle;
  display: table-cell;
  width: 15%;
  font-size: 1.6rem;
  color: #ff9782;
}
#divRatingBody .playerAvatarOuter {
  display: table-cell;
  width: 20%;
  border-radius: 50%;
  border: .2rem solid white;
}
#divRatingBody .playerAvatar {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#divRatingBody .playerRatingDescription {
  padding: 0 1rem;
  display: table-cell;
  width: 65%;
  vertical-align: middle;
}
#divRatingBody .playerNickName {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  color: #30323a;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#divRatingBody .playerPointsCount {
  color: gray;
  margin-top: .2rem;
}
