#failWarningBody .failWarningTitle {
  font-size: 1.2rem;
  margin: 2rem 0;
}
#failWarningBody .redButton,
#failWarningBody .greenButton {
  width: 45%;
  margin: 30% 1% 0;
  box-sizing: border-box;
}
