<div id="vShowYourself"
     data-role="view"
     data-title="ShowYourself"
     data-init="app.appInit.showYourselfViewModelInit"
     data-show="app.appInit.showYourselfViewModelShow"
     data-hide="app.appInit.showYourselfViewModelHide"
     class="verticalViewGradient">

    <header class="headCommon missionHeader">
        <div>
            <a class="mediumIcon backIcon" data-bind="click: onCancel"></a>
        </div>
        <div class="missionImageContainer">
            <div class="missionImage imageCover" data-bind="style: { backgroundImage: missionImagePath }"></div>
            <div class="missionImage imageBorder"></div>
        </div>
        <div></div>
    </header>

    <div id="showYourselfBody" class="formContent">
        <div class="photoContainer" data-bind="visible: avatarUrl">
            <div class="photoTaken" data-bind="style: { backgroundImage: avatarUrl }"></div>
            <div class="removePhotoIcon" data-bind="click: onRemovePhoto"></div>
        </div>

        <div class="photoContainer" data-bind="invisible: avatarUrl">
            <a data-role="button" data-bind='click:takePicture' class="bigIcon photoIcon"></a>
        </div>

        <a data-role="button" class="greenButton" data-bind='click:onReadySend'>
            <div data-bind="text:readyButton"></div>
        </a>
    </div>
</div>