<div id="vResetPassword"
     data-role="view"
     data-title="Reset password"
     data-init="app.appInit.resetPasswordViewModelInit"
     data-show="app.appInit.resetPasswordViewModelShow"
     data-hide="app.appInit.resetPasswordViewModelHide"
     data-layout="login-layout">

    <form>
        <div data-bind="visible: showEmailInput">
            <h3>Enter your email:</h3>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label for="txtResetPassEmail">Email</label>
                    <input type="text" data-bind="value: email" required="required" id="txtResetPassEmail"/>
                </li>
            </ul>
            <a id="resetEnterEmail" data-role="button" data-bind="click: onEmailEnter" class="login-button">Submit</a>
        </div>
        <div data-bind="visible: showApprovalInput">
            <h4>Approval code was sent to specified email.</h4>
            <h3>Enter approval code:</h3>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label for="txtResetPassApprovalCode">Approval code:</label>
                    <input type="text" data-bind="value: approvalCode" required="required" id="txtResetPassApprovalCode" />
                </li>
            </ul>
            <a id="resetValidateApprovalCode" data-role="button" data-bind="click: onValidateCode" class="login-button">Validate</a>
        </div>
        <div data-bind="visible: showPasswordInput">
            <h3>Specify new password:</h3>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label for="txtResetPassNewPass">Password:</label>
                    <input type="password" data-bind="value: newPassword" required="required" id="txtResetPassNewPass" />
                </li>
            </ul>
            <a id="resetPassword" data-role="button" data-bind="click: onResetPassword" class="login-button">Reset password</a>
        </div>
    </form>
</div>
