#headSettings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#headSettings > div {
  width: 30%;
}
#headSettings .profileIcon {
  background-image: url(../../styles/svg/profileBlack.svg);
  float: right;
  margin: 1rem;
}
#headSettings .editIcon {
  position: absolute;
  top: 65%;
  left: 77%;
  background-image: url(../../styles/svg/edit.svg);
  background-repeat: no-repeat;
}
#headSettings #divSettingsPhotoOuter {
  margin-top: 1rem;
  width: 40%;
  position: relative;
}
#headSettings #divSettingsPhoto {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  border: solid .3rem white;
  margin: auto;
}
#divSettings {
  margin-top: 1rem;
}
#divSettings .btnFlat {
  display: block;
  border-collapse: collapse;
  line-height: 2.6rem;
  background-color: white;
  box-sizing: border-box;
  border-top: 0.1rem solid #f8eee3;
  padding-left: 1.5rem;
  position: relative;
}
#divSettings .cleanInput {
  padding: 0 2.1rem 0 0;
  height: 2.6rem;
  width: 50%;
  background: white;
  border-top: 0.1rem solid #f8eee3;
  border-radius: 0;
  display: inline-block;
  color: black;
  box-shadow: none;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: right;
}
#divSettings .cleanLabel {
  width: 50%;
  padding-left: 1.5rem;
  height: 2.6rem;
  line-height: 2.6rem;
  display: inline-block;
  background: white;
  border-top: 0.1rem solid #f8eee3;
  box-sizing: border-box;
  vertical-align: middle;
}
#divSettings .lastCleanLabel {
  border-bottom: 0.1rem solid #f8eee3;
}
#divSettings .km-switch {
  margin-top: .2rem;
}
#divSettings .btnWithArrow:after {
  content: '';
  background-image: url(../../styles/svg/nextArrow.svg);
  background-repeat: no-repeat;
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  margin: auto;
  position: absolute;
  top: 0;
  right: 1.5rem;
  bottom: 0;
}
#divSettings #spanNotificationsContainer {
  height: 2.6rem;
  line-height: 2.6rem;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: middle;
  background: white;
  border-top: 0.1rem solid #f8eee3;
  border-bottom: 0.1rem solid #f8eee3;
  text-align: right;
  padding-right: 1.5rem;
}
